/*Jerarquia*/
/*!important  -- pero no es deseado*/
/*ID*/
/*Clase*/
/*Etiqueta*/


@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#portadaPrincipal{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 3.5rem;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    background-image: url("/imagenes/portada.jpg");
    background-attachment: fixed;
    height: 15rem;
}



.portada{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    background-image: url("/imagenes/portada2.jpg");
    background-attachment: fixed;
    height: 15rem;
}

h2{
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    text-align: center;
    color: green;
}

h3{
    font-family: 'Satisfy', cursive;
    font-size: 1.8rem;
    text-align: left;
    color: black;
}

h4{
    font-family: 'Satisfy', cursive;
    font-size: 1.5rem;
    text-align: left;
    color: black;
}

.navBar{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 4px;
    border-style: solid;
    border-color: black;
    color: black;
    list-style: none;
}

.navBar li{
    flex-shrink: 0;
    border: 4px;
}

.iconos{
    width: 1.5rem;
    height: 1.5rem;
}

#logo{
    width: 3rem;
    height: 2.5rem;
}

.mainBorde{
    margin: 10px;
}